body {
    font-family: Georgia, serif;
    background-color: lightgreen;
}
div {
    display: flex;
    justify-content: center; /* 要素(文字等)を中心に*/
    border: 3px solid black;
}

/* ------------------ HEADER -------------------- */
.header {
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.986);
    justify-content: left;
}

.header h1 {
    font-size: 20px;
}

/* ------------------  MAIN  -------------------- */
.main {
    height: 700px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
} 

#clock {
    width: 40%;
    font-size: 50px;
    background-color: lightcoral;
    
}
.upload{ /* form */ 
    display: flex;
    justify-content: center; /* 要素(文字等)を中心に*/

    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: lightgoldenrodyellow;
}
.custom-image-input{
    /* display: flex; */
    height: 100px;
    width: 300px;
    background-color: red;
    /* background-color: rgb(157, 109, 235); */
    cursor: pointer;
    /* flex-direction: column; */
    /* align-items: start; */
}
#image_button{
    border: 10px solid black;
}
input[type="file"] {
    /* ファイル入力を非表示にする */
    display: none;
}
.radio{
    display: inline-block;
}


/* ------------------ HOOTER -------------------- */
.footer {
    height: 100px;
    width: 100%;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.986);
}