body {
    /* 位置 */
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* padding: 0; */

    /* 色やフォント */
    font-family: Georgia, serif;
    background-color: rgba(245, 245, 245, 0.986);
}
div {
    border: 2px solid #000000;
}
h1, p {
    color: blue;
}

/* HEADER */
.header {
    /* 位置 */
    display:block;
    /* 横並びにする */
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.986);
    margin: 0;
}
.header h1 {
    font-size: 20px;
    line-height:50px;
}

/* MAIN */
.main {
    height: 500px;
    background-color: orange;
}

.custom-image-input {
    /* display: inline-block; */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}
label {
    text-align: center;
}
.upload h1, h2, p{
    text-align: center;
    font-size: 20px;
}
input[type="file"] {
    /* ファイル入力を非表示にする */
    display: none;
}

/* HOOTER */
.footer {
    font-size: 20px;
}