@charset "utf-8";

/* Reset some default styles for better consistency */
body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
}

/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
.header {
    background-color: blue;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Main content styles */
.main {
	background-color: blue;
    margin: 20px;
}

/* Upload form styles */
.upload {
	background-color: blue;
    max-width: 400px;
    margin: 0 auto;
}

.upload h2 {
    color: #333;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
